<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hackerrank Invitation</title>
    <link rel="stylesheet" href="fontawesome.min.css">
    <link rel="stylesheet" href="bulma.min.css">
    <script src="slim_notifier.js"></script>
    <script>
        function invitesSent() {
            SlimNotifierJs.notification('success', 'Successful', 'Hackerrank Invitation successfully sent.', 4000, true);
        }
        function errorFetchingExam() {
            SlimNotifierJs.notification('error', 'Error', 'Unable to fetch exams, please see the administrator.', null, true);
        }
    </script>
</head>
<body>

<div class="container">

    <section class="section">
        <div class="container">
            <div class="column is-6 is-offset-3">
                <h3 class="title has-text-centered">
                    <img src="hackerrank_logo.png">
                </h3>
                <div class="box">
                    <form method="POST" action="/api/invites">
                        <div class="select is-rounded">
                            <select id="exam" name="exam" required>
                                {{if not .exams}}
                                    <option value="">Unable to fetch exams, please see the administrator.</option>
                                {{else}}
                                    <option value=""></option>
                                {{end}}
                                {{range .exams}}
                                    <option value="{{.Id}}" id="{{.Id}}" name="{{.Id}}">{{.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="mt-3">
                            <div class="control">
                                <textarea class="textarea has-fixed-size"
                                          name="emails" placeholder="tradeport@sc.com,tradexpress@sc.com" required></textarea>
                            </div>
                        </div>
                        <div class="has-text-right mt-3">
                            {{if not .exams}}
                                <button type="submit" disabled class="button is-light is-rounded">Send Invite</button>
                                <a class="button is-primary is-rounded" href="/api/logout">Logout</a>
                                <script>
                                    errorFetchingExam();
                                </script>
                            {{else}}
                                <button type="submit" class="button is-primary is-rounded">Send Invite</button>
                                <a class="button is-light is-rounded" href="/api/logout">Logout</a>
                            {{end}}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {{if .inviteSent}}
        <script>
            invitesSent();
        </script>
    {{end}}
</div>
</body>
</html>